In [1]:
from faker import Faker
import pandas as pd
import numpy as np

In [2]:
sets_questions = []
for t in [1,2]:
    for s in [1,2,3,4]:
        for q in [1,2,3,4,5,6]:
            sets_questions.append("T{}S{}Q{}".format(t,s,q)) 
sets_questions.insert(0,"User_Name")

In [3]:
#here i am making a data set for the 1s attempt made by users

first_attempt_df = pd.DataFrame(columns=sets_questions)

In [4]:
#now adding the user names

fake_names = Faker('en_IN')
Faker.seed(4321)

In [5]:
names = []
for _ in range(1200):
    names.append(fake_names.name())

names = list(set(names))

In [6]:
first_attempt_df['User_Name']=names

In [7]:
#setting random score for 1st attempt
first_attempt_ans= np.random.randint(low=0, high=2, size=(len(names), (len(sets_questions)-1)))

In [8]:
first_attempt_df.iloc[:,1:] = first_attempt_ans

In [9]:
first_attempt_df.to_csv('1st attmpt1.csv')

In [10]:
first_attempt_df.head()

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q3,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6
0,Lavanya Raval,0,0,0,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,1
1,Tejas Bhatnagar,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,0,1,1
2,Hazel Sura,1,1,0,0,1,1,0,0,0,...,1,1,1,1,1,0,1,0,1,0
3,Reyansh Rajagopal,1,0,0,0,1,0,0,0,0,...,0,1,1,1,0,0,1,0,1,0
4,Arhaan Desai,0,1,1,1,0,1,1,1,0,...,1,0,1,0,0,1,1,0,1,1

In [11]:
df = first_attempt_df

In [12]:
df.shape

(1195, 49)

In [13]:
df.dtypes

User_Name    object
T1S1Q1       object
T1S1Q2       object
T1S1Q3       object
T1S1Q4       object
T1S1Q5       object
T1S1Q6       object
T1S2Q1       object
T1S2Q2       object
T1S2Q3       object
T1S2Q4       object
T1S2Q5       object
T1S2Q6       object
T1S3Q1       object
T1S3Q2       object
T1S3Q3       object
T1S3Q4       object
T1S3Q5       object
T1S3Q6       object
T1S4Q1       object
T1S4Q2       object
T1S4Q3       object
T1S4Q4       object
T1S4Q5       object
T1S4Q6       object
T2S1Q1       object
T2S1Q2       object
T2S1Q3       object
T2S1Q4       object
T2S1Q5       object
T2S1Q6       object
T2S2Q1       object
T2S2Q2       object
T2S2Q3       object
T2S2Q4       object
T2S2Q5       object
T2S2Q6       object
T2S3Q1       object
T2S3Q2       object
T2S3Q3       object
T2S3Q4       object
T2S3Q5       object
T2S3Q6       object
T2S4Q1       object
T2S4Q2       object
T2S4Q3       object
T2S4Q4       object
T2S4Q5       object
T2S4Q6       object
dtype: object

In [14]:
df.iloc[:,1:]= df.iloc[:,1:].astype(int)

In [15]:
df.head()

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q3,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6
0,Lavanya Raval,0,0,0,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,1
1,Tejas Bhatnagar,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,0,1,1
2,Hazel Sura,1,1,0,0,1,1,0,0,0,...,1,1,1,1,1,0,1,0,1,0
3,Reyansh Rajagopal,1,0,0,0,1,0,0,0,0,...,0,1,1,1,0,0,1,0,1,0
4,Arhaan Desai,0,1,1,1,0,1,1,1,0,...,1,0,1,0,0,1,1,0,1,1

In [16]:
b = df.iloc[:,1:]

In [17]:
a = df.iloc[:,1:].sum(axis=1).sort_values(ascending= False)
a

901     36.0
761     34.0
109     33.0
302     33.0
694     33.0
        ...
1022    15.0
407     14.0
14      14.0
59      12.0
182     11.0
Length: 1195, dtype: float64

In [18]:
a.describe()

count    1195.000000
mean       24.041004
std         3.458414
min        11.000000
25%        22.000000
50%        24.000000
75%        26.000000
max        36.000000
dtype: float64

In [19]:
df['sum_solved'] = a

In [20]:
df.head()

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6,sum_solved
0,Lavanya Raval,0,0,0,1,1,1,1,1,1,...,0,1,1,1,1,1,1,0,1,25.0
1,Tejas Bhatnagar,1,1,1,1,1,1,1,0,1,...,1,0,0,0,1,1,0,1,1,26.0
2,Hazel Sura,1,1,0,0,1,1,0,0,0,...,1,1,1,1,0,1,0,1,0,23.0
3,Reyansh Rajagopal,1,0,0,0,1,0,0,0,0,...,1,1,1,0,0,1,0,1,0,27.0
4,Arhaan Desai,0,1,1,1,0,1,1,1,0,...,0,1,0,0,1,1,0,1,1,26.0

In [21]:
df['sum_solved'].sort_values(ascending= False)

901     36.0
761     34.0
109     33.0
302     33.0
694     33.0
        ...
1022    15.0
407     14.0
14      14.0
59      12.0
182     11.0
Name: sum_solved, Length: 1195, dtype: float64

In [22]:
df['sum_solved'].describe()

count    1195.000000
mean       24.041004
std         3.458414
min        11.000000
25%        22.000000
50%        24.000000
75%        26.000000
max        36.000000
Name: sum_solved, dtype: float64

In [23]:
#users who solved more than 75% of the questions
best_perf = df[df['sum_solved']>26]
best_perf

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6,sum_solved
3,Reyansh Rajagopal,1,0,0,0,1,0,0,0,0,...,1,1,1,0,0,1,0,1,0,27.0
8,Rasha Rana,1,1,1,0,0,1,1,0,1,...,1,0,0,1,1,0,1,1,1,30.0
9,Vivaan Koshy,1,0,1,1,0,0,0,1,0,...,1,1,0,0,1,1,1,0,1,29.0
10,Aniruddh Bora,1,0,1,1,0,0,0,0,1,...,1,1,0,0,0,1,1,0,1,29.0
16,Jayesh Zacharia,0,0,1,0,0,0,1,1,1,...,0,1,1,1,1,0,1,0,0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,Sahil Bahl,1,1,1,1,1,0,0,1,1,...,1,0,1,1,1,1,1,1,0,31.0
1186,Keya Trivedi,1,0,0,0,1,0,1,0,1,...,1,0,1,1,1,1,1,1,0,27.0
1187,Shlok Bawa,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,1,1,1,27.0
1189,Anay Reddy,1,0,0,1,0,1,0,0,1,...,1,1,1,0,1,1,0,0,0,28.0
1191,Onkar Singh,0,1,1,0,0,1,1,1,1,...,1,1,0,1,1,0,1,1,0,27.0

In [24]:
#users who solved more than 50% of the questions

avg_perf = df[(df['sum_solved']>=24) & (df['sum_solved']<26)]
avg_perf

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6,sum_solved
0,Lavanya Raval,0,0,0,1,1,1,1,1,1,...,0,1,1,1,1,1,1,0,1,25.0
5,Urvi Seshadri,1,1,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,1,1,25.0
29,Anya Goel,0,1,0,0,0,0,0,1,0,...,1,0,1,1,1,1,0,1,0,25.0
32,Tara Kalita,0,0,0,0,1,1,1,1,0,...,0,0,0,0,0,1,0,1,1,25.0
34,Fateh Baria,1,1,0,0,1,0,0,0,0,...,0,1,1,1,1,0,0,1,1,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Lakshay Bhagat,1,1,0,0,0,1,1,0,1,...,0,1,0,0,0,0,1,0,0,24.0
1176,Diya Kale,0,1,1,1,0,0,1,1,1,...,0,0,1,1,0,1,0,1,0,24.0
1185,Romil Kalita,0,0,0,0,1,0,0,1,1,...,0,0,0,0,1,0,0,0,1,25.0
1190,Oorja Bhakta,0,0,1,1,1,1,0,1,0,...,0,0,0,1,0,0,1,1,0,25.0
1193,Nehmat Jani,1,0,0,1,1,0,1,0,0,...,1,1,0,1,1,1,0,1,0,24.0

In [25]:
#users who solved 50% - 25% of the questions

bad_perf = df[(df['sum_solved']>=22) & (df['sum_solved']<24)]
bad_perf

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6,sum_solved
2,Hazel Sura,1,1,0,0,1,1,0,0,0,...,1,1,1,1,0,1,0,1,0,23.0
7,Tarini Barman,1,0,0,0,0,0,1,0,1,...,0,1,0,1,0,0,1,0,0,22.0
20,Arhaan Kalla,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,22.0
22,Seher Soman,0,0,0,1,1,0,0,1,1,...,1,1,1,0,0,0,1,1,0,23.0
26,Kimaya Wali,1,0,1,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,1,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,Eva Virk,0,0,1,0,1,0,0,1,0,...,0,0,1,1,1,0,0,1,1,23.0
1174,Raghav Shankar,1,1,0,1,0,0,0,0,1,...,0,1,0,1,0,0,1,1,0,22.0
1183,Himmat Raju,1,0,0,1,1,0,1,0,1,...,0,0,1,0,1,1,0,1,0,22.0
1192,Arnav Shankar,1,1,0,1,1,0,0,0,0,...,1,0,1,1,1,1,0,1,0,23.0
1194,Zara Taneja,0,1,1,0,0,1,0,0,0,...,0,0,0,1,1,0,1,1,0,23.0

In [26]:
#users performance less than 25%

worst_perf =df[df['sum_solved']<22]
worst_perf

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6,sum_solved
6,Dishani Vig,0,1,1,0,0,0,0,1,0,...,0,1,1,0,0,1,0,0,0,18.0
12,Lakshit Bose,0,1,1,0,1,1,0,1,0,...,1,1,0,0,0,0,0,1,0,20.0
14,Gatik Dube,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,14.0
17,Prerak Batta,1,1,0,0,0,1,1,0,1,...,1,1,1,1,0,0,0,0,0,21.0
21,Darshit Chaudhuri,0,0,0,1,0,0,0,0,1,...,0,0,1,0,0,1,0,1,0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,Vaibhav Char,0,1,1,0,0,1,0,0,0,...,0,0,0,0,1,1,1,0,0,19.0
1177,Jivika Chanda,1,1,0,1,1,0,0,0,1,...,0,0,1,0,0,1,0,1,1,21.0
1180,Yakshit Sheth,0,1,0,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,0,19.0
1182,Priyansh Anne,1,1,0,1,1,1,1,1,0,...,1,0,0,1,0,1,0,0,0,21.0
1188,Suhana Sami,1,0,1,0,0,0,1,1,1,...,1,0,0,0,1,0,0,0,0,20.0

In [27]:
#regaining our dataframe

df.drop(columns='sum_solved',inplace = True)

In [28]:
df.head()

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q3,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6
0,Lavanya Raval,0,0,0,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,1
1,Tejas Bhatnagar,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,0,1,1
2,Hazel Sura,1,1,0,0,1,1,0,0,0,...,1,1,1,1,1,0,1,0,1,0
3,Reyansh Rajagopal,1,0,0,0,1,0,0,0,0,...,0,1,1,1,0,0,1,0,1,0
4,Arhaan Desai,0,1,1,1,0,1,1,1,0,...,1,0,1,0,0,1,1,0,1,1

In [29]:
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
%matplotlib inline

In [49]:
df_questions = df.T
dfq = df_questions

In [64]:
df.head()

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q3,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6
0,Lavanya Raval,0,0,0,1,1,1,1,1,1,...,0,0,1,1,1,1,1,1,0,1
1,Tejas Bhatnagar,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,0,1,1
2,Hazel Sura,1,1,0,0,1,1,0,0,0,...,1,1,1,1,1,0,1,0,1,0
3,Reyansh Rajagopal,1,0,0,0,1,0,0,0,0,...,0,1,1,1,0,0,1,0,1,0
4,Arhaan Desai,0,1,1,1,0,1,1,1,0,...,1,0,1,0,0,1,1,0,1,1

In [62]:
df.columns

Index(['User_Name', 'T1S1Q1', 'T1S1Q2', 'T1S1Q3', 'T1S1Q4', 'T1S1Q5', 'T1S1Q6',
       'T1S2Q1', 'T1S2Q2', 'T1S2Q3', 'T1S2Q4', 'T1S2Q5', 'T1S2Q6', 'T1S3Q1',
       'T1S3Q2', 'T1S3Q3', 'T1S3Q4', 'T1S3Q5', 'T1S3Q6', 'T1S4Q1', 'T1S4Q2',
       'T1S4Q3', 'T1S4Q4', 'T1S4Q5', 'T1S4Q6', 'T2S1Q1', 'T2S1Q2', 'T2S1Q3',
       'T2S1Q4', 'T2S1Q5', 'T2S1Q6', 'T2S2Q1', 'T2S2Q2', 'T2S2Q3', 'T2S2Q4',
       'T2S2Q5', 'T2S2Q6', 'T2S3Q1', 'T2S3Q2', 'T2S3Q3', 'T2S3Q4', 'T2S3Q5',
       'T2S3Q6', 'T2S4Q1', 'T2S4Q2', 'T2S4Q3', 'T2S4Q4', 'T2S4Q5', 'T2S4Q6'],
      dtype='object')

In [109]:
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt

In [111]:
best_perf.head(200)

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q4,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6,sum_solved
3,Reyansh Rajagopal,1,0,0,0,1,0,0,0,0,...,1,1,1,0,0,1,0,1,0,27.0
8,Rasha Rana,1,1,1,0,0,1,1,0,1,...,1,0,0,1,1,0,1,1,1,30.0
9,Vivaan Koshy,1,0,1,1,0,0,0,1,0,...,1,1,0,0,1,1,1,0,1,29.0
10,Aniruddh Bora,1,0,1,1,0,0,0,0,1,...,1,1,0,0,0,1,1,0,1,29.0
16,Jayesh Zacharia,0,0,1,0,0,0,1,1,1,...,0,1,1,1,1,0,1,0,0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,Suhana Kapoor,1,0,1,1,1,1,0,1,1,...,1,1,1,0,0,0,0,0,1,29.0
830,Zoya Sood,0,0,0,1,1,0,1,1,0,...,1,0,0,0,1,1,1,1,1,28.0
831,Faiyaz Borah,0,1,1,1,1,1,0,1,0,...,0,0,1,0,0,1,1,1,1,28.0
838,Kaira Sawhney,1,1,1,0,0,0,1,1,0,...,1,0,1,1,1,1,0,1,0,27.0
840,Vanya Dhillon,1,0,1,1,1,1,1,1,1,...,0,1,1,1,0,1,1,1,1,31.0

In [123]:
line_data = best_perf.groupby('User_Name')['T1S1Q2']

In [132]:
fig = go.Figure(data=go.Scatter(x=best_perf['index'], y=best_perf['T1S1Q2'], mode='lines', marker=dict(color='green')))
fig.update_layout(title='T1S1Q1 STATUS', xaxis_title='Users', yaxis_title='Solved/Not Solved',height=480,width =1080)
fig.show()

In [130]:
best_perf['index'] = best_perf.index

<ipython-input-130-56721e148f40>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [131]:
best_perf.head()

,User_Name,T1S1Q1,T1S1Q2,T1S1Q3,T1S1Q4,T1S1Q5,T1S1Q6,T1S2Q1,T1S2Q2,T1S2Q3,...,T2S3Q5,T2S3Q6,T2S4Q1,T2S4Q2,T2S4Q3,T2S4Q4,T2S4Q5,T2S4Q6,sum_solved,index
3,Reyansh Rajagopal,1,0,0,0,1,0,0,0,0,...,1,1,0,0,1,0,1,0,27.0,3
8,Rasha Rana,1,1,1,0,0,1,1,0,1,...,0,0,1,1,0,1,1,1,30.0,8
9,Vivaan Koshy,1,0,1,1,0,0,0,1,0,...,1,0,0,1,1,1,0,1,29.0,9
10,Aniruddh Bora,1,0,1,1,0,0,0,0,1,...,1,0,0,0,1,1,0,1,29.0,10
16,Jayesh Zacharia,0,0,1,0,0,0,1,1,1,...,1,1,1,1,0,1,0,0,27.0,16

In [ ]:
df.groupby